body,
html {
    margin: 0;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
  }

  .Afbeelding-Achtergrond-Login {
    height: 100vh;
    width: 100lvw;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../img/images.jpg');
  }

  .loginFrameRij {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textFrameLogin {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loginFrame {
    background-color: rgb(255, 255, 255);
    width: 430px;
    height: 440px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.552);
  }
  .handLogoFrame {
    display: flex;
    background-color: rgba(156, 156, 156, 0);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    justify-self: center;
    margin-top: 40px;
    border-style: solid;
    border-width: 4px;
    border-color: #66A9F0;
    justify-content: center;
    align-items: center;
  }

  i {
    color: #66A9F0;
    transform:rotate(30deg);
    font-size: 45px;
  }


   .onzichtbareFrame {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: #ffffff45;
    gap: 50px;
    border-radius: 30px;
  }

   .onzichtbareFrameRegistreren {
     width: 65%;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 600px;
     background-color: #ffffff45;
     gap: 50px;
     border-radius: 30px;
   }

  .loginFrameRedirect {
    background-color: rgb(255, 255, 255);
    width: 380px;
    height: 310px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.552);
  }
.registrerenFrame {
  background-color: rgb(255, 255, 255);
  width: 430px;
  height: 540px;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.552);
}
  .logoRij {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boldText {
    font-weight: bold;
  }
  .normaalText {
    font-weight: normal;
  }

  .loginInputNaam {
    display: flex;
    margin-top: 17px;
    justify-self: center;
    width: 65%;
    height: 45px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #444444;
    color: #444444;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 18px;

  }
  .loginInputWachtwoord {
    display: flex;
    margin-top: 17px;
    justify-self: center;
    width: 65%;
    height: 45px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #444444;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s;
  }
  .loginInputWachtwoord:hover {
    background-color: #66A9F0;
  }

.loginKnop {
    margin-left: 50px;
    margin-top: 40px;
    height: 50px;
    width: 74.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #66A9F0;
    border-style: none;
    border-radius: 5px;
  }

  .textBovenInput {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-start;
    margin-left: 50px;
    flex-direction: column;
  }

  .loginTextFrame {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    margin-left: 50px;
  }

  .loginTextFrameRedirect {
     width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .TextFrameRedirect {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .LocatieFrame {
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .Minder-Ruimte-Witte-Text {
    color: rgb(255, 255, 255);
    font-weight: 800;
    display: flex;
    margin-top: 20px;
    justify-self: center;
  }
  .Witte-Text {
    color: rgb(255, 255, 255);
  }

  .grijsText {
    color: rgb(99, 99, 99);
    display: flex;
    font-weight: 450;
    justify-self: center;
  }
  .VakantieBlokMargin {
    margin-top: 60px;
    display: flex;
  }

  .Titel-Zwarte-Text {
    width: 80%;
    display: flex;
    align-self: flex-end;
    justify-self: center;
    margin-top: 60px;
  }